body {
	background-color: grey;
	background-repeat: repeat;
}
div.main{
    display: flex;
}

div.journalIndex {
    float: left;
    width: 45vw;
    height: 80vh;
    border: 4px black solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.journalViewer {
    float: right;
    width: 45vw;
    height: 80vh;
    border: 4px black solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

table, th, td {
    border: 1px black solid;
    border-radius: 2px;
    border-collapse: collapse;
}

h2 {
    text-align: center;
}