 * {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: BurlyWood;
	color: indigo;
	font-family: arial, helvetica, sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
	padding: 2em;
}

img {
    max-width: 100%;
}

/* Title Box */

.title {
 	max-width: 100%;
  	padding: 10px;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
    border-style: solid;
}

.title h1 {
	font-size: 55px;
    padding: 5px;
}

.title h2 {
	font-size: 30px;
    padding: 5px;
}

.title h3 {
	font-size: 25px;
    padding: 5px;
}

/* Navigation */

nav {
	display: block;
    background-color: indigo;
    width: 100%;
    font-size: 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: indigo;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: black;
}

/* Card */

.card {
    margin-top: 10px;
}

.reading {
	display: block;
	padding: 10px 20px 10px 10px;
}

.card h1 {
	font-size: 30px;
}

div.gallery {
  border: 1px solid indigo;
  background-color: indigo;
  margin-bottom: 10px;
}

div.gallery:hover {
  border: 1px solid black;
  background-color: black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1300px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer Box */

footer {
  display: flex;
  width: 100%;
  padding: 3px;
  bottom: 0;
  background-color: indigo;
  color: BurlyWood;
  justify-content: center;
  align-items: center;
}

footer a {
	color: red;
}

.footer-column {
  float: left;
  padding: 10px;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .footer-column.side, .footer-column.middle {
    width: 100%;
  }
}