span.date{
    color: red;
    
}
span.persName{
    color: green;
}
span.placeName{
    color: yellow;
}
span.name{
    color: purple;
    
}
span.title{
    color: blue;
}
div.entry{
    border-style:dashed;
    border-color:white;
    background-color:lightgrey;
}
div.year{
    
}
h3{
    font-size:1em;
}
h2{
    font-size:1.5em;
}
body{
    padding-left:700px;
    padding-right:700px;
    background-color:darkgrey;
}
td{
  background-color:white;
  border:black; 
  border:1.5em
}
tr{
background-color: lightgrey
    
}
li{
    background-color:lightgrey
}
th{
    text-align:center;
}