/* NOTE TO SELF: use EM on font sizing */
body {
    background-color: /*darkseagreen;*/ #F8F8FF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
}


body section {
    background-color: #F8F8FF;
}

div#flex {
    display: flex;
    flex-direction: row;
}

section#toc {
    position: sticky;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0px 10px 0px;
    border-radius: 20px;
    height: 100%;
}

section#rv {
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
}



h2 {
    font-size: 1.87em;
    color: black;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
div.p {
    font-size: calc(.2vw + 100%);
}
div.note { 
    border-style: dotted;
    background-color:#EEE3CB;
    font-size: smaller;
}



table {
    position: relative;
    top: -2px;
    left: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: black;
    border: 1.5em;
    text-align: center;
    padding: 0 10px 10px 10px;
}
tr {
    background-color: #EEE3CB;
}
/*li {
    background-color: #B2B3AD;
}*/
th {
    text-align: center;
    height: 0;
}
tr ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
tr li {
    font-size: calc(3px + 100%);

}
tr a {
    text-decoration: none;
    color: black;
}
tr a:hover {
    color: white;
    text-decoration: underline white;
}



div#content {
    display: flex;
}
section#entries {
    flex: 1;
    /*background-color: #41372E;*/
    height: 100%;
    background-color: #F8F8FF;
    margin: 0px 10px;
}
section#entries h2 {
    padding: 10px 0px 10px 10px;
    border-bottom-style: solid;
    border-color: #cdceca;
    /*background-color: #F8F8FF;*/
    background-color:#EEE3CB;
    position: sticky;
    top: 0;
}
section#entries p {
    margin: 0 0 22px 0;
}
section#gloss {
    position: sticky;
    top: 0;
    flex: 1;
    background-color: #EEE3CB;
    border-radius: 20px;
    padding: 10px;
    max-height:90vh;
    overflow:auto;
}
div.ex1 {
  background-color: lightblue;
  width: auto;
}

div.entry {
    /*background-color: #B2B3AD;*/
    border-radius: 20px;
    padding: 10px;
    font-size: calc(.2vw + 100%);
}




div#calendarDays {
    position: sticky;
    top: 0;
    display: block;
    float: left;
    width: 20px;
    /*color:white;*/
    padding: 0 6px 6px 6px;
    background-color: #EEE3CB;
    height: fit-content;
    margin: 0 10px 0 0;
}
div.calendarNum a {
    font-size: calc(.2vw + 100%);
    color: black;
    text-decoration: none;
}
div a:hover {
    color: purple;
    text-decoration: underline purple;
}


/* Gloss styling */

div.si {
    display:none;
 

}
/*<div class="si on">   vs. <div class="si">*/
div.si.on {  
    display: block;
    background-color: #F8F8FF;
    padding: 10px;
    border: black;
    border-radius: 20px;
    border-width: 10px;}


span.date {
    color: black;
}
div.year {
    margin: 3em;
}
.persName {
    color: red;
}
.placeName {
    color: blue;
}
.name {
    color: green;
}
.title {
    color: purple;
}
.del {text-decoration: line-through red;}

/************************************** Digital Mitford Project Navigation Bar *****/
div#nav_wide {
    background-image: url("mrmBlur.jpg");
    padding: 0;
    width: 100%;
    position: relative;
    top: -35px;
}

div#menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0;
}

span.mainTitle {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #B16800;
    position: relative;
    top: 15px;
}
span.subTitle {
    display: block;
    font-size: .88em;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 900;
    position: relative;
    top: 25px;
}

ul#siteMenu {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    background-color: /*#F8F8FF;*/ #FFDB90;
    position: relative;
    bottom: -20px;
}
ul#siteMenu li.title {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #FFDB90;
}
/*ul#siteMenu li {/\*padding:8px;*\/ font-weight: bold;}*/

ul#siteMenu li.mainMenu {
    flex: 2.5;
    background-color: /*#FFDB90*/ #F8F8FF;
}

ul.mainMenu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    background-color: Grey;
    padding: 0
}

ul.mainMenu li.section { /*font-weight:bold; font-size:1em;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    height: 150px;
    flex: 1
}

li#Overview {
    background-color: Grey;
    color: #FFDB90;
}
li#Overview a {
    color: gold;
    text-decoration: none;
}
li#Overview a:hover {
    color: yellow;
    text-decoration: underline;
}
li#Editions {
    background-color: FireBrick;
    color: Lavender;
}
li#Editions a {
    color: Lavender;
    text-decoration: none;
}
li#Editions a:hover {
    color: white;
    text-decoration: underline;
}
li#Bib {
    background-color: DarkSeaGreen;
    color: maroon
}
li#Bib a {
    color: maroon;
    text-decoration: none;
}
li#Bib a:hover {
    color: white;
    text-decoration: underline;
}

li#Project {
    background-color: Lavender;
}
li#Outreach {
    background-color: RosyBrown;
    color: PapayaWhip;
}
li#Outreach a {
    color: PapayaWhip;
    text-decoration: none;
}
li#Outreach a:hover {
    color: gold;
    text-decoration: underline
}

ul.subSec {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -40px;
    padding-top: 5px;
    margin-right: 25px; /*background-color:LemonChiffon;*/
}
ul.subSec li {
    text-align: left;
    font-size: 1em;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 3px
}

/* ********************************** End of Digital Mitford Site Navigation Bar**** */

/* ******************************Start of landing page */

body#landing {background-color:#EEE3CB;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

section#landTitle {
height: 70vh;
background-color:#EEE3CB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section#landTitle h1 {
    font-size: 3em;
    color: black;
    margin: 0%;
    padding: 0;
    margin: 0;
    background-color: #EEE3CB;
}

#landVert {display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;}







