
body {
    background-color: darkseagreen;
}

body section {
    background-color: white;
}

div#flex {
    display: flex;
}

section#toc {
    background-color: #41372E;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    border-radius: 20px;
}

section#rv {
    background-color: #41372E;
    border-radius: 20px;
    max-width: 100%
}


h1 {
    font-size: 200%;
    color: white;
    margin: 0%;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 2em;
    color: white;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 1em;
    padding: 0;
    margin: 0;
}





table {
    position: relative;
    left: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
td {
    background-color: #B2B3AD;
    border: black;
    border: 1.5em;
    text-align: center;
    padding: 0 25px;
    border-radius: 20px;
}
tr {
    background-color: #B2B3AD;
    font-size: 1.5em;
    border-radius: 20px;
}
li {
    background-color: #B2B3AD;
}
th {
    text-align: center;
    border-radius: 20px;
}
tr ul {
    list-style: none;
    padding: 0%;
}



div#content {
    display: flex;
}
section#entries {
    flex: 50%;
    background-color: #41372E;
}
section#gloss {
    flex: 50%;
    background-color: #B2B3AD;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
}
div.entry {
    background-color: #B2B3AD;
    border-radius: 20px;
    padding: 10px;
}




div#calendarDays {
    display: block;
    float: left;
    max-width: 1000px;
    /*color:white;*/
    padding: .5vw;
    background-color: lavender;
    border-radius: 10px;
    height: auto;
}
div.calendarNum {
    font-size: calc(5px + 1vw);
}








span.date {
    color: #B1735A;
}
div.year {
    margin: 3em;
}
.persName {
    color: red;
}
.placeName {
    color: blue;
}
.name {
    color: green;
}
.title {
    color: purple;
}






div#navblock {
    min-width: 1000px;
    font-family: arial, helvetica, sans-serif;
    vertical-align: central;
    margin: -.6%;
    padding: 0px 32px;
    background-color: #400D01;
}
nav#nav {
    color: #B1735A;
    margin: 0;
    background-color: #B2B3AD;
}
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    background: #383B53;
    color: #F4F2CD;
    margin: -.6%;
    width: 100%;
    padding: 20px;
}
footer a {
    color: #F4F2CD
}
div#navblock {
    vertical-align: central;
    margin: -.6%;
    padding: 0px 32px;
    background-color: #B2B3AD;
}
.indexbut {
    background-color: #B2B3AD;
    color: #41372E;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.indexbut:hover {
    background-color: #41372E;
    color: #B2B3AD;
}


