body{background: #8DAA50}

h2 {color: #7157D6}

/* New by SRR */
h1 {
    font-size: 150%;
}
div#navblock {
font-family: arial, helvetica, sans-serif;
min-width: 1000px;
    vertical-align: central;
    margin: -.6%;
    padding: 0px 32px;
    background-color: #FC989A;}
    
nav#nav {
    color: #FC989B;
    margin: 0;
    background-color: #FC989A;
}
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.indexbut {
    background-color: #FC989A;
    color: #FEECE8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.indexbut:hover {
    background-color: #FEECE8;
    color: #D4D6B9;
}
.h1 {
    float: left;
    padding: 0;
    margin: 11px 10px 0 0;
    color: #E66D5C;
}