/* HOMR PAGE*********************************************** */
body#home {

color: indigo;
font-family: arial, helvetica, sans-serif;
padding: 2% 5% 2% 5%;
}
h1 {font-size: 300%}
h2 {font-size: 250%}
h3 {font-size: 200%}
nav#nav {
    color:#D4D6B9;
    margin: 0;
    background-color: #383B53;
}


nav {
    width: 100%;
    margin: 0;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.indexbut {
    background-color: #383B53;
    color: #D4D6B9;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.indexbut:hover {
    background-color: #32213A;
    color: #D4D6B9;
}